*{
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #33343f;
}

img{
    width: 35px;
    height: 35px;
}

.chat {
    display: flex;
    gap: 20px;
    padding: 25px;
    color: white;
    font-size: 15px;
    font-weight: 300;   
}

.respuesta{
    background-color: #494b59;
}

.mensajebar{
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
   border-top: 1px solid #494b59;
   background-color: #33343f;
}

.mensajebar .bar{
    background-color: #494b59;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar input{
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    background: none;
    color: #ccc;
}

.bar input::placeholder {
    color: #ccc;
}

.mensajebar button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #fff;
}

