* {
  background-color: red;
}

h1 {
  font-size: 180px;
  font-weight: 500px;
  color: white;
  background: url('https://i.blogs.es/94f9a8/infinity-war/1366_2000.jpeg');
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-position: center;
  background-size: cover;
  -webkit-text-stroke: 1px white;
}
